//
   Created by лымарев on 28.05.2015.
-for(var a in [1,2,3,4,5,6,7,9,10])
    .test-container.col-md-12.col-lg-12.col-xs-12
        .test-header.col-md-12.col-lg-12.col-xs-12
            h3.col-md-10.col-lg-10.col-xs-10
                a(href="#") Заголовок теста
            .col-md-2.col-lg-2.col-xs-2.date
                h3
                    span.glyphicon.glyphicon-calendar
                    span 29.08.1996