//
                                    Created by лымарев 28.05.2015.

doctype html5
html
   head
        title Система аналитических опросов
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="http://localhost:3000/stylus/main.css")
        link(href="http://localhost:3000/dist/css/bootstrap.min.css", rel="stylesheet")

   body
      .container-fluid
          header.col-md-12.col-xs-12.col-lg-12
          include components/logo
          include components/nav
          .col-md-12.col-xs-12.col-lg-12
            block content
      script(src="http://localhost:3000/dist/js/jquery.min.js")
      script(src="http://localhost:3000/dist/js/bootstrap.min.js")
      script(src="http://localhost:3000/js/main.js")