//
                                    Created by лымарев 28.05.2015.

doctype html5
html
   head
      title first jade template for express
   body
      nav
         li.item
            a(href="/") home
         li.item
            a(href="/contacts") contacts
         li.item
            a(href="/projects") projects

      block content