//
   Created by лымарев on 28.05.2015.
extends ../../layout
include ../../components/custom_in
include ../../components/form
block content
    form(method="POST" action="")
        .input-group-lg
            label(for="title") Название теста
            input(type="text" name="title" id="title")
        .input-group-lg
            a#add_in(href="")
               span.glyphicon.glyphicon-plus
               span Добавить поле

