//
   Created by лымарев on 28.05.2015.
extends ../../layout

include ../../components/custom_in
include ../../components/form


block content
   form(method="POST" action="#")
      label(for="name") name
      input(type="text" name="name" id="name")

